<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lepedő - Új felhasználó hozzáadása</title>
  <link rel="stylesheet" href="/stylesheets/sajat.css">
</head>
<body>
<h1>Lepedő</h1>

<a href="/summary"><h2>Összegzés</h2></a>
<a href="/list"><h2>Tételek</h2></a>
<h2 class="focused-title">Új user hozzáadása</h2>

<div class="h10"></div>
<div class="middle">
  <form>
    <input placeholder="Név"><br>
    <input placeholder="@revtag"><br>
    <div class="h5"></div>
    <input class="sbtn_with_h4" type="submit" value="Mentés">
    <a class="sbtn" href="/summary" style="color:red;"><h4>Mégse</h4></a>
  </form>
</div>

</body>
</html>