<head>
    <meta charset="UTF-8">
    <title>Lepedő - Részletek</title>
    <link rel="stylesheet" href="/stylesheets/sajat.css">
</head>
<body>

<h1>Lepedő</h1>
<a href="/summary"><h2>Összegzés</h2></a>
<a href="/list"><h2>Tételek</h2></a>